*{
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
   font-style: normal;
}
body{
  width: 1440px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(148, 38%, 91%);
}
main{
  width: 740px;
  height: 830px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
    flex-direction: column;
  justify-content: space-around;
   border-radius: 10px;
    }
form{
    width: 668px;
  height: 790px;
  display:flex;
    justify-content: center;
     justify-content: center;
   flex-direction: column;
   color: hsl(187, 24%, 22%);
    justify-content: space-between;
 }
 .title{
  height: 60px;
  width: 200px;
  display: flex;
   }
h1{
  font-weight: 800;
  font-size: 30px;
  color: hsl(187, 24%, 22%);
 
  }
#personal_info{
  width:647px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
      }
#full_name{
  width: 300px;
  height: 80px;
   display: flex;
   justify-content: space-around;
  flex-direction: column;
}
#full_name input{
  width: 280px;
  height: 5px;
  padding: 20px;
  border-radius: 8px; 
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  
}

#full_last{
  width: 300px;
  height: 80px;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
 
   }
#full_last input{
  width: 280px;
  height: 5px;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
font-weight: 500;
margin-top: 10px;
  
  }
 

#email{
width: 627px;
height: 5px;
padding: 20px;
 border-radius: 8px;
 font-size: 20px;
font-weight: 500;
 }

#selecccion{
  
  width: 667px;
  height: 85px;
  display: grid;
  
  justify-content: space-between;
  grid-template-columns: 323px 323px ;
  grid-template-rows: 65px ;
  flex-direction: row;
   margin-top: 5px;
  margin-bottom: 5px;
  }
#selecccion div{
  width: 323px;
  height: 55px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  grid-template-columns: 40px 220px;

 }
h3{
  font-size: 18px;
  font-weight: 400;
}
#selecccion div input{
  
  width: 25px;
  height: 25px;
  
}

#message{
  width: 625px;
  height: 80px;
   border-radius: 8px;
   font-size: 18px;
font-weight: 400;
padding: 20px;
}
 
button{
  width: 655x;
  height: 56px;
  background-color: hsl(169, 82%, 27%);
  color:  hsl(148, 38%, 91%);
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700
  
 }
label{
  font-size: 16px;
  font-weight: 400;
  color: hsl(187, 24%, 22%);
}

#terms {
  width: 667px;
  height: 100px;
   display: grid;
   grid-template-columns: repeat(7, 50px);   
  grid-template-rows: repeat(7, 20px);
  align-items: center;
  }

#checkBox {
  grid-column:1;
  grid-row: 2;
  width: 30px;
  height: 30px;
 }

summary {
   width: 380px;
  height: 25px;
  grid-column: 2/4 ;
   grid-row: 2/3 ;
   font-size: 13px;
  font-weight: 400;
   
 }

#ErrTerms {
   width: 500px;
  height: 0px;
  grid-row: 3;
  grid-column: 1 / 9;
 }
.act{
  display:block;
}
span{
  display: none;
  font-size: 13px;
  color: hsl(0, 66%, 54%);
  font-weight: 700;
  height: 20px;
 }
.email{
  height: 105px;
   display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
 }
 .textarea{
   height: 180px;
  width: 667px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
 }
 #dialog .dialog_Container{
width:440px ;
height: 35px;
display: grid;
grid-template-columns: 30px 370px;
grid-template-rows: 10px;
align-items: center;
justify-content: space-evenly;
  
 }
 #dialog .dialog_Container img{
  width: 30px;
  height: 30px;
  }
 h2{
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 22px;
 }
 #dialog p{
  width: 440px;
  font-weight: 400;
  font-size: 15px;
 }

 #dialog{
  position: relative;
  
  width: 500px;
  height: 110px;
  background-color: hsl(187, 24%, 22%);
  color: hsl(186, 15%, 59%);
   flex-direction: column;
justify-content: center;
 align-items: center;
 border: none;
 border-radius: 10px;
 }
 .Activate_Dialog{
  display: flex;
 }
 

 input:hover{
  border: none;
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }
 textarea:hover{
   background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }
 #selecccion div:hover{
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }

  
 input[type="radio"] {
   accent-color: hsl(169, 82%, 27%);
  
}
input[type="checkbox"] {
  accent-color: hsl(169, 82%, 27%);
 
}
 

 @media screen and (max-width: 375px) {
 
 *{
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
   font-style: normal;
}
body{
  width: 380px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(148, 38%, 91%);
}
main{
  width: 375px;
  height:1093px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
    flex-direction: column;
  justify-content: space-around;
   border-radius: 10px;
    }
form{
    width: 330px;
  height: 1055px;
  display:flex;
    justify-content: center;
     justify-content: center;
   flex-direction: column;
   color: hsl(187, 24%, 22%);
    justify-content: space-between;
  }
 .title{
  height: 40px;
  width: 200px;
  display: flex;
   }
h1{
  font-weight: 800;
  font-size: 30px;
  color: hsl(187, 24%, 22%);
 
  }
#personal_info{
  width:300px;
  height: 185px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
       }
#full_name{
  width: 287px;
  height: 80px;
   display: flex;
   justify-content: space-around;
  flex-direction: column;
 }
#full_name input{
  width: 287px;
  height: 10px;
  padding: 20px;
  border-radius: 8px; 
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  
}

#full_last{
  width: 287px;
  height: 80px;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  
   }
#full_last input{
  width: 287px;
  height: 10px;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
font-weight: 500;
margin-top: 5px;
  
  }
 

#email{
  width: 287px;
height: 10px;
padding: 20px;
 border-radius: 8px;
 font-size: 20px;
font-weight: 500;
 }

#selecccion{
  
  width: 330px;
  height: 130px;
  display: flex;
  justify-content: space-between;
 flex-direction: column;
   
   }
#selecccion div{
 width: 330px;
  height: 50px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  grid-template-columns: 40px 220px;

 }
h3{
  font-size: 18px;
  font-weight: 400;
}
#selecccion div input{
  
  width: 25px;
  height: 25px;
  
}

#message{
  width: 289px;
  height: 190px;
   border-radius: 8px;
   font-size: 18px;
font-weight: 400;
padding: 20px;

 
 }
 
button{
  width: 300;
  height: 56px;
  background-color: hsl(169, 82%, 27%);
  color:  hsl(148, 38%, 91%);
  font-weight: 800;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700
  
 }
label{
  font-size: 16px;
  font-weight: 400;
  color: hsl(187, 24%, 22%);
}

#terms {
  width: 275px;
  height: 70px;
   display: grid;
   grid-template-columns: repeat(2, 50px);   
  grid-template-rows: repeat(2, 20px);
  align-items: center;
  }

#checkBox {
  grid-column:1;
  grid-row: 2;
  width: 20px;
  height: 20px;
 }

summary {
   width: 200px;
  height: 25px;
  grid-column: 2/4 ;
   grid-row: 2/3 ;
   font-size: 13px;
  font-weight: 400;
   
 }

#ErrTerms {
   width: 500px;
  height: 0px;
  grid-row: 3;
  grid-column: 1 / 9;
 }
.act{
  display:block;
}
span{
  display: none;
  font-size: 12px;
  color: hsl(0, 66%, 54%);
  font-weight: 700;
  height: 10px;
 }
.email{
  height: 90px;
   display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
 }
 .textarea{
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   
 }
 #dialog .dialog_Container{
width:440px ;
height: 35px;
display: grid;
grid-template-columns: 30px 370px;
grid-template-rows: 10px;
align-items: center;
justify-content: space-evenly;
  
 }
 #dialog .dialog_Container img{
  width: 30px;
  height: 30px;
  }
 h2{
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 22px;
 }
 #dialog p{
  width: 440px;
  font-weight: 400;
  font-size: 15px;
 }

 #dialog{
  position: relative;
  
  width: 500px;
  height: 110px;
  background-color: hsl(187, 24%, 22%);
  color: hsl(186, 15%, 59%);
   flex-direction: column;
justify-content: center;
 align-items: center;
 border: none;
 border-radius: 10px;
 }
 .Activate_Dialog{
  display: flex;
 }
 

 input:hover{
  border: none;
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }
 textarea:hover{
   background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }
 #selecccion div:hover{
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
 }

  
 input[type="radio"] {
   accent-color: hsl(169, 82%, 27%);
  
}
input[type="checkbox"] {
  accent-color: hsl(169, 82%, 27%);
 
}
}